# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Qualtrics Game.iml
# Datasource local storage ignored files
/../../../../../../../:\SAE\unity_project\Qualtrics Game\.idea\.idea.Qualtrics Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
